@model int

<div class="options-space">
    <h2 class="text-center">Simple Practice</h2>
    <div class="option">
        <div class="method-showoff" id="method-one">
            <div class="card-for-animation animation-card">
                
            </div>
        </div>
        <div class="button-place">
            <a class="btn btn-primary btn-option" asp-controller="Study" asp-action="Turning" asp-route-setId="@Model">Select</a>
        </div>
        
    </div>
    
</div>

@section Scripts{
    <script>
        
        
    </script>
}

