@model IEnumerable<Folder>
<div class="row justify-content-between ">
    <input  type="text" class="form-control border-0 shadow mt-2" />
    <span asp-validation-for="@Model.First().Name" class="text-danger"></span>
</div>
<div class="container-fluid">
    <div class="row justify-content-center pb-3">
        @foreach (var folder in Model)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <i class="bi bi-folder text-center" style="font-size: 6rem; color:#2596be;"></i>
                            <div class="card-body pb-0 pt-0">
                                <div class="pl-1">
                                    <p class="card-title  h5 text-dark text-uppercase text-center">@folder.Name</p>
                                </div>
                                <div class="pl-1">
                                    <p class="text-dark text-opacity-75 text-center">@folder.Description</p>
                                </div>
                            </div>
                            <div>
                                <a asp-controller="CardSet" asp-action="Index" asp-route-id="@folder.Id" class="btn btn-primary bg-gradient border-0 form-control">Select</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>